[user]
	name = SeungukLee
	email = seunguk@seunguk.dev
	signingkey = CDB070320580A52D
[core]
  excludesfile = /Users/SeungUk/dotfiles/.gitignore_global
  precomposeunicode = true
  quotepath = false
  pager = delta
[delta]
  side-by-side = true
  line-numbers-left-format = ""
  line-numbers-right-format = "│ "
  syntax-theme = Monokai Extended
[interactive]
  diffFilter = delta --color-only
[commit]
  gpgsign = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
  defaultBranch = main
[pull]
	rebase = true
[rebase]
	autoStash = true
[include]
  path = ~/.gitalias

