[user]
  name = SeungukLee
  email = inheritlucem@gmail.com
  signingkey = D9A9418ADDF844A2
[core]
  excludesfile = ~/.gitignore_global
  precomposeunicode = true
  quotepath = false
  pager = delta
[delta]
  side-by-side = true
  line-numbers-left-format = ""
  line-numbers-right-format = "│ "
  navigate = true # use n and N to move between diff sections
  # syntax-theme = Monokai Extended
[diff]
  algorithm = histogram
[interactive]
  diffFilter = delta --color-only
[commit]
  gpgsign = true
[init]
  defaultBranch = main
[pull]
  rebase = true
[rebase]
  autosquash = true
  autostash = true
[merge]
  tool = nvimdiff
  conflictstyle = zdiff3
[log]
  date = iso
[branch]
  sort = -committerdate
[tag]
  sort = -taggerdate
[rerere]
  enabled = true

# [include]
#   path = ~/.gitalias

# [filter "lfs"]
#   clean = git-lfs clean -- %f
#   smudge = git-lfs smudge -- %f
#   process = git-lfs filter-process
#   required = true
# [credential]
#   helper = osxkeychain
